:root {
  --focus-color: hsla(0, 0%, 80%, 0.3);
}


html, body {
  margin: 0;
  padding: 0;
}
body {
  cursor: default;
  font: caption;
  width: 300px;
  overflow: hidden;
}
body#rendering { display: none; }


#script-list-scroll {
  max-height: 347px;
  overflow-y: auto;
}

hr {
  margin: 6px 0;
}

/******************************** SECTIONS ***********************************/

section {
  margin-left: 0;
  transition-duration: 0.15s;
  transition-property: margin-left;
  width: 100vw;
}

/* Hide non-main sections by default. */
section.options,
section.user-script
{
  position: absolute;
  top: 0;
  left: 100vw;
}

/* Slide the main menu away when it's non-active. */
section.main-menu
{ margin-left: -100vw; }
body#main-menu section.main-menu
{ margin-left: 0; }

/* Slide the other menu in when it's active. */
body#options section.options,
body#user-script section.user-script
{ margin-left: -100vw; }


section header {
  color: -moz-fieldText;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section menuitem.go-back {
  box-sizing: content-box;
  color: inherit;
  display: inline-block;
  height: 16px;
  margin: 4px 4px 0 4px;
  padding: 8px;
  vertical-align: -10px;  /* Relative to text, after padding. */
  width: 16px;
}
section menuitem.go-back:hover {
  background-color: var(--focus-color);
}
section menuitem.go-back::before {
  content: url(/skin/back.svg);
}

/********************************** MENUS ************************************/

menu {
  margin: 0;
  padding: 0;
}
menuitem {
  display: block;
  overflow-x: hidden;
  padding: 4px 12px 4px 10px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
menuitem:focus {
  background-color: hsla(0, 0%, 80%, 0.3);
  outline: none;
}
menuitem.disabled * {
  opacity: 0.65;
}

menuitem .icon {
  font-size: 14px;
  margin-right: 3px;
  text-align: center;
  width: 16px;
}
menuitem .icon img {
  object-fit: contain;
  max-height: 16px;
  width: 16px;
}

menuitem.user-script {
  padding-right: 24px;
}
menuitem.user-script .arrow {
  background: url(/skin/next.svg) center center no-repeat;
  display: inline-block;
  height: 100%;
  opacity: 1.0;
  position: absolute;
  right: 12px;
  top: 0;
  transform: rotate(180deg);
  width: 12px;
}

menu heading {
  color: #333;
  font-style: italic;
  padding-left: 21px;
}

/***************************** SCRIPT DETAIL *********************************/

section.user-script p {
  margin: 0;
  padding: 4px 12px 4px 10px;
}


/* Scroll the content of the script detail section, in case it's too tall. */
section.user-script {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
section.user-script menu {
  overflow-y: auto;
}

/******************************** OPTIONS ************************************/

section.options p {
  margin: 0;
  padding: 4px 12px 4px 10px;
}

section.options .explain a {
  color: black;
  float: right;
}

section.options textarea {
  font-family: monospace;
  font-size: 90%;
  white-space: pre;
}

section.options #add-exclude-current {
  cursor: pointer;
  display: block;
  margin-top: 4px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90vw;
}
